<nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center">
    <form >
    <div>
        <input class="form-control mr-sm-2" placeholder="search the movie" type="text" name="serach">
    </div>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img [src]="getFullPosterPath(newarray.poster_path)">
            </div>
        </div>
        <div class="col-md-8 mt-4">
            <div class="card">
                <h3>{{newarray.title}}</h3>
                {{newarray.status}} |  {{newarray.runtime}}m  | {{newarray.vote_average}}
                <p class="mt-2">{{newarray.overview}}</p>
                <h5 class="mt-3">Other Details</h5>
                <h5 class="mt-3">Language:</h5>
                {{newarray.original_language}}
                <h5>Budget:</h5>
                {{newarray.budget}}
                <h5>Revnue:</h5>
                {{newarray.revenue}}
            </div>
        </div>
    </div>
</div>
