<nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center">
    <form >
    <div>
        <input class="form-control mr-sm-2" placeholder="search the movie" type="text" (keyup.enter)="callme()" name="serach" [(ngModel)]='filterString' >
    </div>
    </form>
</nav>
<ng-container *ngIf="filterString.length; else otherl">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3"  *ngFor="let movies of  serachlist | filter : filterString" (click)="navigate(movies)">
            <div class="card mx-4 my-4 ">
                <img [src]="movies.poster_path">
                <span><strong>{{movies.title}}({{movies.vote_average}})></strong></span>
            </div>
        </div>
    </div>
</div>
</ng-container>
<ng-template #otherl>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3"  *ngFor="let movies of movieslist" (click)="navigate(movies)">
                <div class="card mx-4 my-4 ">
                    <img [src]="movies.poster_path">
                    <span><strong>{{movies.title}}({{movies.vote_average}})></strong></span>
                </div>
            </div>
        </div>
    </div>
</ng-template>













